<section id="packages">
<div class="container">
  <h3>R Packages</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sctyner/geomnet">geomnet</a></strong>
			- <code>geomnet</code> is a package built on top of the most recent major <code>ggplot2</code> release. It provides a <code>ggplot2</code> <code>geom</code> called <code>geom_net</code> to visualize graphs and networks. It also include the function <code>stat_net</code> to calculate network layouts with the sna package. Finally, the function <code>geom_circle</code> is included to draw circles using <code>ggplot2</code>. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/sctyner/ggCompNet">ggCompNet</a></strong>
			- I created this package to accompany the working paper "Network Visualization in ggplot2" by myself, [François Briatte](http://f.briatte.org/), and [Heike Hofmann](http://hofmann.public.iastate.edu/). The vignettes provide code necessary to reproduce examples, speed tests, and figures in the paper. The package contains a single function <code>timeDrawings()</code> for users to compare the drawing time of many different network visualization implementations, as well as allowing the user to input their own code to compare to the others.
		</h5>
    </div>
  </div>
</div>
</section>
